body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 90%;
}

button {
    width: 100px;
    border: 2px solid darkgreen;
    background-color: #fff;
    border-radius: 10px;
    padding: 5px;
    color: darkgreen;
}

button:hover {
    animation: buttonHover 0.3s forwards;
}

button:focus {
    outline: none;
}

p {
    margin-top: 40px;
    font-size: 30px;
}

h2 {
    margin-bottom: 40px;
}

@keyframes buttonHover {
    100% {
        background: darkgreen;
        color: white;
    }
}